@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");
:root {
  --darkBlue: hsl(233, 26%, 24%);
  --limeGreen: hsl(136, 65%, 51%);
  --brightCyan: hsl(192, 70%, 51%);
  --grayishBlue: hsl(233, 8%, 62%);
  --lightGrayishBlue: hsl(220, 16%, 96%);
  --veryLightGray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "Public Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  overflow-x: hidden !important;

}

.wrapper {
  overflow-x: hidden !important;
}

/* Utilities */
.bg-gray {
  background-color: var(--veryLightGray);
}

.bg-grayishBlue {
  background-color: var(--lightGrayishBlue);
}

.btn {
  border: none;
  font-size: 0.8rem;
  outline: none;
  padding: 8px 30px;
}

.btn:hover {
  color: var(--lightGrayishBlue);
  opacity: 0.7;
}

.btn-gradient-bg {
  background-image: linear-gradient(
    to right,
    var(--limeGreen),
    var(--brightCyan)
  );
  color: var(--lightGrayishBlue);
}

.heading {
  font-size: 40px;
}

.text-drakBlue {
  color: var(--darkBlue);
}

.text-gray {
  color: var(--grayishBlue);
}

.text-grayishBlue {
  color: var(--grayishBlue);
}

ul {
  list-style: none;
  padding: 0;
}

/* Navigation Bar */
nav {
  background-color: var(--white);
}

.menu .nav-link {
  border-bottom: 3px solid transparent;
  justify-self: stretch;
  margin: 0 15px;
  padding: 15px 0;
}

.menu .nav-link a {
  font-size: 0.8rem;
  text-decoration: none;
}

.menu .nav-link a:hover {
  color: var(--grayishBlue);
}

.menu .nav-link:hover {
  border-bottom-color: var(--limeGreen);
  transition: border-bottom-color 0.4s ease-in;
}

.nav-link a:hover {
  color: var(--darkBlue);
}

.hide {
  display: none;
}

.bg-image {
  background-image: url("../images/bg-intro-desktop.svg");
  background-position: 18% 75%;
  background-repeat: no-repeat;
  background-size: 140%;
  height: 37rem;
  position: relative;
}

.bg-image::after {
  background-image: url(../images/image-mockups.png);
  background-position: -60% 95%;
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  height: 135%;
  position: absolute;
  width: 100%;
  left: 16%;
}

/* Home Section */
.bg-wrapper {
  position: absolute;
  right: 0;
  padding: 0;
}

.home-row {
  height: 37em;
}

.intro {
  margin: 25% 0 0 16%;
  padding: 32px;
  width: 80%;
}

.intro-text {
  font-size: 16px;
}

/* Services */
.services {
  padding: 20px 20px;
}

.services .heading {
  font-size: 32px;
}

.services-heading p {
  width: 45%;
}

.services-card {
  margin: 30px 0;
}

.service-title {
  margin: 20px 0;
}

.service-text {
  font-size: 0.85rem;
}

/* Articles */
#blog {
  padding: 50px 0 100px;
}

#blog .heading {
  font-size: 36px;
}

.card {
  align-self: stretch;
  background-color: var(--white);
  box-shadow: -1px -1px 15px rgb(0 0 0 / 5%);
  height: 100%;
  width: 100%;
}

.card-img {
  height: 200px;
  width: 100%;
}

.card-img-top {
  border-radius: 5px 5px 0 0;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.card-title {
  margin: 10px 0;
}

.card-title:hover,
.footer-link:hover {
  color: var(--limeGreen);
}

.author,
.card-text,
footer p {
  font-size: 0.8rem;
}

/* Footer */
footer {
  background-color: var(--darkBlue);
  color: var(--veryLightGray);
  padding: 40px 0;
}

.footer-link {
  color: var(--lightGrayishBlue);
  cursor: pointer;
  font-size: 0.9rem;
  margin-bottom: 20px;
}

.footer-last-col {
  margin-left: 200px;
}

.icon:hover {
  fill: var(--limeGreen);
}

.attribution {
  color: var(--grayishBlue);
  font-size: 11px;
}

/* Mobile Nav */
#mobile-nav.menu-bg {
  background: linear-gradient(var(--darkBlue), rgba(255, 255, 255, 0.5) 70%);
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  left: 0;
}

/* Media Query */
@media (max-width: 991.98px) {
  /* Utilities */
  .bg-image {
    background-position: 11% 100%;
    background-size: 200%;
    height: 37rem;
  }

  .bg-image::after {
    background-position: 5%;
    content: "";
    height: 125%;
    left: 0%;
  }

  .heading {
    font-size: 36px;
  }

  .service-description {
      width: 50%
  }

  /* Footer */
  footer {
    text-align: center;
  }

  .footer-branding {
    margin-bottom: 30px;
  }

  .socials {
    justify-content: center;
  }
}

@media (max-width: 575.98px) {
  /* Utilities */
  .bg-wrapper {
    position: static;
  }

  .home-row {
    height: auto;
  }

  .bg-image {
    background-image: url("../images/bg-intro-mobile.svg");
    background-position: 60% 62%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 260px;
    position: relative;
    width: 100%;
  }

  .bg-image::after {
    background-image: url(../images/image-mockups.png);
    background-position: 44% 113%;
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    height: 114%;
    position: absolute;
    width: 100%;
    left: 0;
  }

  .menu,
  .mobile-hidden {
    display: none;
  }

  .show {
    display: block;
  }

  /* Intro section */
  .intro {
    margin: 10% auto 25%;
    padding: 0;
    text-align: center;
    width: 100%;
  }

  /* Services */
  .services-heading {
    margin-bottom: 0;
    padding: 0;
    width: 100%;
  }

  .services-heading p {
    width: 100%;
  }

  .services-card {
    margin: 0;
  }

  .service-text {
    padding: 0 1rem;
  }

  /* Articles */
  .card {
    margin: 15px 0;
  }
}
